<html>
    <head>
        <title> Contact List</title>
        <script src="https://kit.fontawesome.com/a14ae32021.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1 id="heading">Contacts List</h1>
        <% for(let i of Pussy){%>
            <div class="box">    
            <p>
                    <%=i.name%>
                    <%=i.phone%>
                    <a href="delete/?id=<%=i.id%>"><i class="fas fa-times-circle"></i></a>
            </p>
            </div>
            <%}%>
            <form action="/yo" method="POST">
                <input type="text" placeholder="your name" name="name">
                <input type="number" placeholder="your phone" name="phone">
                <button type="submit" >Submit</button>
            </form>
            <form action="/clear" method="POST">
                <button id="clearall" type="submit" >Clear All</button>
            </form>
    </body>
</html>