body{
    background-color:pink;
    text-align: center;
    al
}
#heading{
    color:rgb(255, 0, 157);
}
.box{
    position: relative;
    left: 23vw;
    width: 50vw;
    padding: 2px;
    margin: 5px;
    background-color: gray;
    border: red;
}
.box p{
    color: white;
}
.box:hover{
    background-color: white;
    border: black;
}
.box:hover p{
    color: black;
}
#clearall{
    background-color: yellow;

}