body{
    background-color:pink;
    text-align: center;
}
#heading{
    color:rgb(255, 0, 157);
}
.box{
    width: 50vw;
    padding: 2px;
    margin: 5px;
    background-color: gray;
    border: red;
}
.box p{
    color: white;
}
box:hover{
    background-color: white;
    border: black;
}
box:hover p{
    color: black;
}
